input[type='radio'],
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.heroImage {
  position: relative;
  object-fit: cover;
  height: 20vh;
  width: 20vh;
  margin-top: 4vh;
  object-fit: cover;
  border: 2px #70707026 solid;
  border-radius: 50%;
}

.itemHeading {
  color: #5a5953;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemHeading > h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 45vh;
  text-align: center;
}

.itemHeading > p {
  width: 75%;
  font-size: 15px;
  line-height: 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 17px;
  padding-bottom: 2vh;
  text-align: center;
  border-bottom: 2px #70707026 solid;
}

.variantsContainer,
.modifiersContainer,
.quantityContainer,
.submitContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
}

.variant,
.modifier {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 97vw;
}

.heading {
  width: 100%;
  margin-left: 20px;
  margin-right: 24px;
}

.heading > h1,
h2 {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.variant > .options,
.modifier > .options {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.options > .optionSet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: inherit;

  margin-left: 24px;
  margin-right: 24px;
}

.optionSet > label {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 15px;
  line-height: 15px;
}

.optionSet p:first-child {
  flex-grow: 2;
  text-align: left;
}

.optionSet p:last-child {
  flex-grow: 1;
  letter-spacing: 0.87px;
  text-align: right;
}

/* Custom radio button */
.optionSet input[type='radio']:checked ~ .customRadio {
  background-color: #ffffff;
  border: 8px solid #f3725b;
}

.optionSet .customRadio {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  border: 3px solid #5a59534d;
}

.optionSet .customRadioUnavail {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background-color: lightgray;
  border: 3px solid lightgray;
}

.customRadio::after {
  content: '';
  position: relative;
  display: none;
}

.optionSet input[type='radio']:checked ~ .customRadio::after {
  display: block;
}

.optionSet .customRadio::after {
  /* style for when radio is checked */
}

/* Custom checkbox */
.optionSet input[type='checkbox']:checked ~ .customCheck {
  background-color: #f3725b;
  border: 2px solid #f3725b;
}

.optionSet .customCheck {
  height: 16px;
  width: 16px;
  border: 3px solid #5a59534d;
}

.optionSet .customCheckUnavail {
  height: 16px;
  width: 16px;
  background-color: lightgray;
  border: 3px solid lightgray;
}

.customCheck::after {
  content: '';
  position: relative;
  display: none;
}

.optionSet input[type='checkbox']:checked ~ .customCheck::after {
  display: block;
}

.optionSet .customCheck::after {
  left: 4px;
  top: -1px;
  width: 7px;
  height: 14px;
  /* border: solid white; */
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #ffffff;
}
/* End */

.quantityContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  width: 100%;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12vh;
}

.submitButton {
  font-size: 2.3vh;
  font-weight: 500;
  color: white;
  text-align: center;
  height: 4.5vh;
  width: 20vh;
  background-color: #f3725b;
  border: none;
  border-radius: 20px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5%;
  padding: 25px;
}

.productInfo > .cartActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartActions > button {
  margin: 10px;
}

.heroImageOld {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('https://images.unsplash.com/photo-1482349274213-19ca6126f02f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80');

  /* Set a specific height */
  height: 95vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionSetContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.optionSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  width: 20vw;
}

.optionVariant {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 20%;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 1px 2px 6px 1px rgba(91, 91, 91, 0.8);
  cursor: pointer;
}

/* This ensures that our new box shadow will ONLY apply for when optionVariant is alone */
[class='optionVariant']:hover {
  /* background-color: rgba(72, 100, 255, 0.8); */
  box-shadow: 1px 2px 12px 5px rgba(91, 91, 91, 0.8);
}

/* .optionVariant.selected {
    background-color: rgba(72, 100, 255, 0.8);
} */

.optionVariant.selected:hover {
  background-color: rgba(255, 68, 68, 0.8);
}

.optionVariant.disabled {
  cursor: not-allowed;
}

.optionInput {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.warningContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #faf8f8;
  text-align: center;
  color: #f3725b;
  font-size: 20px;
  margin-top: -20px;
  padding-bottom: 10px;
}

.asterisk {
  color: #f3725b;
}

.required {
  display: block;
  color: #f3725b;
}

.modifierSelectUnavailable {
  background-color: gray;
}