.errorPage {
  display: flex;
  height: 100vh;
  flex-direction: row;
  transition: 1s;
  text-align: center;
  font-size: 26px;
  position: relative;
  justify-content: center;
  align-items: center;
  color: black;
}

@keyframes errorPage1 {
  0% {
    opacity: 0;
    left: -100px;
    color: black;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes errorPage2 {
  0% {
    color: green;
  }

  33% {
    color: blue;
  }

  66% {
    color: black;
  }
  100% {
    color: green;
  }
}

.pickupDropdownControl {
  border: 0px;
}
