/* .checkmark
{
width: 100%;
height: 100%;
} */

.mainDiv {
  background-color: #faf8f8;
  margin: 0;
  position: fixed;
  left: 0px;
  top: 0px;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}

.failureDiv {
  background-color: #faf8f8;
  position: absolute;
  overflow: auto;
  padding-top: 35%; 
  height: 100vh;
  width: 100vw;
}

.checkSvg {
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
  width: 25vh;
  stroke: #f3725b;
}

.orderConfirmed {
  font-size: 20pt;
  color: #5a5953;
  font-family: 'Avenir Black', 'Arial Black', sans-serif;
  text-align: center;
  margin: 8px 16px 8px 16px;
  font-weight: bold;
}

.statusUpdate {
  font-size: 17pt;
  color: #5a5953;
  font-family: 'Avenir Book', 'Arial Book', sans-serif;
  text-align: center;
  margin: 8px 16px 8px 16px;
}
