.orderlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(250, 248, 248, 1);
}

img.vendorLogo {
  height: 20vw;
  margin-right: 4vw;
  padding: 1vh;
}

.ordercard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  line-height: 0.1%;
  width: 95vw;
  border-radius: 5%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  margin: 8px;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  color: rgba(90, 89, 83, 1);
  background-color: white;
}

span.bottom_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 3px;
}

span.order_card_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

button.order_card_button {
  background-color: #f49f864d;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 26px;
  color: #5a5953;
  border-width: 0;
}

p.bottom_bar_buttons {
  border-style: solid;
  border-radius: 15px;
  font-size: 20px;
  border-color: #5a595326;
  color: #f49f86;
  padding: 10px;
}

span.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

span.tax-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 10px;
}

div.orderText {
  display: flex;
  flex-direction: row;
  line-height: 0.2;
  justify-content: left;
  align-items: center;
}

.ordercard > h2 {
}

.ordercard > p {
}

div.order_tab {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100vw;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid rgb(244, 159, 134);
}

p.order_tab_selected {
  background-color: rgb(244, 159, 134);
  color: white;
}

p.order_tab_unselected {
  color: black;
}

span#vendorHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

p#vendorName {
  font-size: 20px;
}

.pinkText {
  color: rgb(244, 159, 134);
}

a.vendorLink {
  font-size: 12px;
  margin-left: 8vw;
}

.modal {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 25%;
  width: 25%;
  margin-top: 35vh;
  background-color: white;
}

/* For iPads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .modal {
    margin-top: 50%;
  }
}
