#main-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3725b;
  font-family: 'Proxima Nova';
}

#elem-div {
  margin: 1.7rem;
}

#instruction {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #333333;
}

.greetings {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
}

#greeting-container {
  text-align: left;
  margin-bottom: 1.5rem;
}

.tel-container {
  margin-top: 1.2rem;
  width: 100%;
}

#tel {
  margin: auto;
}

.center-header {
  font-size: 400%;
  color: #f3725b;
  padding: 5%;
}

.confirm-btn {
  border: none;
  font-family: 'Raleway';
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  background-color: #f3725b;
  border-radius: 20px;
  width: 8.4rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-container {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
}
