/* Hero Image */
.hero {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}

/* Header at the top containing all the information */
.vendorinfocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
}

.vendortitle {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 4vh;
}

.vendorinfo {
  font-size: 2vh;
  font-family: 'Proxima Nova';
  color: #333333;
  margin: 0 5px 0 10px;
  line-height: 2.4vh;
}

.statusTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statusTitleWrapper div {
  display: flex;
  flex-direction: column;
}

.readmore {
  border: none;
  background-color: inherit;
  font-size: 2vh;
  margin: auto;
  font-family: 'avenir';
  color: #f3725b;
}

/* Category Select Bar */
.categoryselect {
  height: 5vh;
  display: flex;
  /* What I want to do: if on web, use space-evenly; if on phone, use space-between */
  justify-content: space-between;
  overflow-x: auto;

  list-style: none;
  text-indent: 0;

  position: sticky;
  top: 7.9vh;
  margin-bottom: 2vh;
  background: white;
  border-bottom: 2px solid #dddddd;
  /* margin-top: 0em; */
}

/* if on web */
@media (min-width: 800px) {
  .categoryselect {
    justify-content: space-evenly;
  }
}

.categoryactive {
  font-family: 'avenirbold';
  color: #333333;
  border-bottom: #f3725b solid 2px;
}

.categoryname {
  font-size: 2vh;
  font-family: 'avenir';
  color: #333333;
  white-space: nowrap;
  margin: auto 20px;
}

.categoryname:hover{
  font-weight: bold;
  border-bottom: #f3725b solid 2px;
}

/* Category Header */
.categoryheader {
  font-family: 'avenirbold';
  font-size: 3.2vh;
  color: #333333;
  border-bottom: 1.8px solid #dddddd;
  margin-bottom: 1vh;
  padding-left: 5vw;
}

/* Item Display */
.itemlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.itemgrid {
  display: grid;
  height: 15vh;
  width: 95vw;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'ImageSpace NameSpace';
  cursor: pointer;
}

.itemgrid:hover{
  box-shadow: 0 0 2px rgba(33, 33, 33, 0.2);
  background-color: #f5e7da;  
}

@media (min-width: 800px) {
  .itemgrid {
    width: 100vw;
    grid-template-columns: 4fr 3fr 7fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'blank ImageSpace NameSpace blank2';
  }
  .categoryheader {
    width: 100vw;
    text-align: center;
    padding-left: 0vh;
  }
}

.itemimage {
  grid-area: ImageSpace;
  align-self: center;
  justify-self: center;
  width: 12vh;
  height: 12vh;
  object-fit: cover;
  border-radius: 50%;
}

.itemcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-area: NameSpace;
}
.itemname {
  font-family: 'avenirmedium';
  font-size: 3vh;
  line-height: 3.2vh;
  margin: 0;
  color: #333333;
}
.itemprice {
  font-family: 'avenir';
  font-size: 2vh;
  color: #333333;

  margin: 0;
  padding-top: 3px;
}
.storeHourBox {
  flex-direction: column;
  display: flex;
  text-align: center;
  font-size: 0.8em;
  background: white;
  font-family: 'Proxima Nova';
  z-index: 100;
  margin-left: 20px;
  margin-right: 20px;
}
.dayHourRow {
  display: grid;
  grid-template-columns: 15% 85%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0px;
}
.dayInitial {
  margin: 10px;
  margin-right: 5.5vw;
  font-weight: bold;
}
.openStatus {
  font-size: 2vh;
  font-weight: bold;
  color: #f3725b;
  font-family: 'Proxima Nova';
}
.hourDisplay {
  background-color: white;
  display: block;
  font-size: 0.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.arrowIcon {
  margin-left: 10px;
}
.menuItem {
  background-color: transparent;
  padding: 0;
}
/* .menuItem{
  background-color: transparent;
}
.menuItem:selected{
  background-color: transparent;
} */
