#main-div-launch {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  background-color: white;
}

.home-btn{
  border-radius: 25pt;
  height: 2.2rem;
  width: 6rem;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #F3725B;
  color: white;
}
.home-btn:hover {
  text-decoration: underline;
}
.home-btn:focus{
  outline: none;
}
#title {
  color: #f3725b;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}
#sub-title{
    color: #F3725B;
    font-size: 1.2rem;
    /* font-weight: bold; */
    /* margin: 0.8rem; */
}