input[type='radio'],
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  padding-top: 8vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroImage {
  position: relative;
  height: 25vh;
  width: 95%;
  object-fit: cover;
  border-radius: 10px;
}

.itemHeading {
  color: #5a5953;
  padding-left: 1rem;
  padding-right: 20%;
}

.itemHeading > h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 24px;
  margin-bottom: 0px;
}

.itemHeading > p {
  font-size: 15px;
  line-height: 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 28px;
}

.variantsContainer,
.modifiersContainer,
.quantityContainer,
.submitContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #faf8f8;
}

.variant,
.modifier {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100vw;
}

.heading {
  width: 100%;
  margin-left: 24px;
  margin-right: 24px;
}

.heading > h1,
h2 {
  font-size: 17px;
  line-height: 23px;
}

.variant > .options,
.modifier > .options {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.options > .optionSet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: inherit;

  margin-left: 24px;
  margin-right: 24px;
}

.optionSet > label {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 15px;
  line-height: 20px;
}

.optionSet p:first-child {
  flex-grow: 2;
  text-align: left;
}

.optionSet p:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Custom radio button */
.optionSet input[type='radio']:checked ~ .customRadio {
  background-color: #ffffff;
  border: 3px solid #f49f86;
}

.optionSet .customRadio {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 3px solid #5a59534d;
  margin-right: 5px;
}

.customRadio::after {
  content: '';
  position: relative;
  display: none;
}

.optionSet input[type='radio']:checked ~ .customRadio::after {
  display: block;
}

.optionSet .customRadio::after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f49f86;
}

/* Custom checkbox */
.optionSet input[type='checkbox']:checked ~ .customCheck {
  background-color: #f49f86;
  border: 3px solid #f49f86;
}

.optionSet .customCheck {
  height: 18px;
  width: 18px;
  border: 3px solid #5a59534d;
  margin-right: 5px;
}

.customCheck::after {
  content: '';
  position: relative;
  display: none;
}

.optionSet input[type='checkbox']:checked ~ .customCheck::after {
  display: block;
}

.optionSet .customCheck::after {
  left: 4px;
  top: -1px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #ffffff;
}
/* End */

.quantityContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  width: 100%;
}

.quantityContainer > button:first-child,
.quantityContainer > button:last-child {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #5a5953;
  border: 0px;

  text-align: center;
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
}

.quantityContainer > p {
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  color: #5a5953;
  padding: 0px 10px;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12vh;
}

.submitButton {
  font-size: 20px;
  line-height: 27px;
  color: #f49f86;
text-align: center;
  height: 5vh;
  width: 30vw;
  background-color: #ffffff;
  border: 1px solid #5a595326;
  border-radius: 20px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5%;
  padding: 25px;
}

.productInfo > .cartActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartActions > button {
  margin: 10px;
}

.heroImageOld {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('https://images.unsplash.com/photo-1482349274213-19ca6126f02f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80');

  /* Set a specific height */
  height: 95vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionSetContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.optionSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  width: 20vw;
}

.optionVariant {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 20%;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 1px 2px 6px 1px rgba(91, 91, 91, 0.8);
  cursor: pointer;
}

/* This ensures that our new box shadow will ONLY apply for when optionVariant is alone */
[class='optionVariant']:hover {
  /* background-color: rgba(72, 100, 255, 0.8); */
  box-shadow: 1px 2px 12px 5px rgba(91, 91, 91, 0.8);
}

/* .optionVariant.selected {
    background-color: rgba(72, 100, 255, 0.8);
} */

.optionVariant.selected:hover {
  background-color: rgba(255, 68, 68, 0.8);
}

.optionVariant.disabled {
  cursor: not-allowed;
}

.optionInput {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
