.float-cart__dropdown-title {
  font-size: 19px;
  text-align: left;
  font-weight: bold;
  font-family: 'Proxima Nova';
  letter-spacing: 1px;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}

.float-cart__dropdown {
  margin-right: 3vw;
  margin-top: 1vh;
}
