/* Hero Image */
.hero {
  height: 20vh;
  width: 100%;
}

/* Header at the top containing all the information */
.vendorinfocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.vendortitle {
  font-size: 4vh;
  font-family: 'santana';
  /* color: #f49f86; */
  margin: auto;
}

.vendorinfo {
  font-size: 2vh;
  font-family: 'avenir';
  color: #5a5953;
  margin: auto;
  flex-wrap: wrap;
  line-height: 0.001;
}

.readmore {
  border: none;
  background-color: inherit;
  font-size: 2vh;
  margin: auto;
  font-family: 'avenir';
  color: #f49f86;
}

/* Category Select Bar */
.categoryselect {
  height: 5vh;
  display: flex;
  /* What I want to do: if on web, use space-evenly; if on phone, use space-between */
  justify-content: space-between;
  overflow-x: auto;

  list-style: none;
  text-indent: 0;

  position: sticky;
  top: 7.9vh;

  background: white;
  border-bottom: solid 1px #5a5953;
  /* margin-top: 0em; */
}

/* if on web */
@media (min-width: 800px) {
  .categoryselect {
    justify-content: space-evenly;
  }
}

.categoryactive {
  font-family: 'avenirbold';
  color: #5a5953;
  border-bottom: #f49f86 solid 2px;
}

.categoryname {
  font-size: 2vh;
  font-family: 'avenir';
  color: #5a5953;

  white-space: nowrap;
  margin: auto 20px;
}

/* Category Header */
.categoryheader {
  font-family: 'avenirbold';
  font-size: 3vh;
  color: #5a5953;

  border-bottom-style: solid;
  border-color: #5a5953;
  border-width: 1px;
  margin-bottom: 0;
  padding-left: 2vw;
}

/* Item Display */
.itemlist {
  display: flex;
  flex-direction: column;

  background-color: #faf8f8;
}

.itemgrid {
  display: grid;
  height: 16vh;
  width: 100%;

  grid-template-columns: 3fr 7fr;
  grid-template-rows: 5fr 5fr;
  border-bottom-style: solid;
  border-color: #7070704d;
  border-width: 1px;
}
.itemimage {
  grid-area: 1/1/3/2;
  align-self: center;
  justify-self: center;
  width: 12vh;
  height: auto;

  object-fit: scale-down;
  border-radius: 50%;
}
.itemname {
  font-family: 'avenirmedium';
  font-size: 3vh;

  margin: 0;
  color: #5a5953;

  align-self: end;
}
.itemprice {
  font-family: 'avenir';
  font-size: 2vh;
  color: #5a5953;

  margin: 0;
  padding-top: 3px;

  align-self: start;
}
.storeHourBox{
  flex-direction: column;
  display:flex;
  text-align: center;
  font-size: 0.8em;
  background: white;
  z-index: 100;
}
.dayHourRow{
  display:grid;
  grid-template-columns: 15% 85%;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin: 10px 0px;
}
.dayInitial{
  margin: 10px;
  font-weight: bold;
}
.openStatus{
  font-weight: bold;
  color: #f49f86;
}
.btn{
  background-color: white;
  border: none !important;
}
.fa-angle-down{
  color: black;
}
.dropdown-menu.show{
  display:block;
}
.dropdown-menu{
    /* margin: 0px; */
    left: 7px;
    float: center;
    min-width: 10rem;
    padding: .7rem .3rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    z-index: 1000; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-header{
  display: block;
    padding: .5rem 1.2srem;
    margin-bottom: 0;
    font-size: .5rem;
    color: #6c757d;
    white-space: nowrap;
    

}
.dropdown-toggle{
  background-color: white;
  outline: none;
}
.arrowIcon{
  margin-left: 10px;
}

